@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Kavivanar');

* {
	margin: 0;
	padding: 0;
/*	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Kavivanar', cursive;
	box-sizing: border-box;
	color: rgba(48,48,45,1);
}
html, body {
	height: 100%;
}
body {
	display: table;
	width: 100%;
	
}
/*Main Content Column*/
#allcontent{
	position: absolute;
	width: 100%;
	height: 90%;
}
#main-content-column{
	max-width: 700px;
	min-height: 100%;
	margin: 0 auto;
}
header {
	width: 100%;
	overflow: auto;
	margin: 30px 0;
}
header img {
	width: 100px;
	height: auto;
	float: left;
}

header #header-inner-div{
	float: left;
}
header span{
	display: block;
	font-size: 1.7em;
}
@media only screen and (min-width:500px){
	header img {
		width: 150px;
	}
	header span{
		font-size: 2.2em;
		padding-left: 20px;
	}
	
}
@media only screen and (max-width: 350px){
	header img {
		width: 50%;
		margin: 0 25%;

		
		
	}
	header span{
		font-size: 2.2em;
		padding-left: 40px;

	}
}
@media only screen and (max-width: 330px){
	header img {
		width: 50%;
		margin: 0 25%;
	}
	header span{
		font-size: 1.5em;
	}
	#header-inner-div {
		margin: 7%;
	}
}
header #header-outer-div {
	display: table;
	float: none;
	margin: 0 auto;
}

nav {
	float: left;
	overflow: auto;
	width: 100%;
}
nav ul{
	list-style: none;
}
nav li {
	display: block;
	border: 1px solid rgba(255, 155, 6, 1);
	border-radius: 2px;
	margin: 10px 30px;
	
}
nav ul li a{
	width: 100%;
	height: 100%;
	display: block;
	padding: 2px 10px;
	color: 	rgb(136, 136, 136);
	font-size: 1.1em;
	cursor: pointer;
	text-decoration: none;
}
nav ul li a:hover  {
	color: rgba(242, 147, 6, 1);
	background-color: rgba(255, 155, 6, 0.1);
	transition: background-color 0.3s, color 0.3s;
}
nav ul li a:active  {
	background-color: rgba(255, 155, 6, 0.6);
}
@media only screen and (min-width: 520px){
	nav {
		margin-left: 20px;
		margin-right: 20px;
		width: calc(100% - 40px);
	}
	nav ul li{
	 width: calc(100% / 3 - (2 * 10px));
		/* 
		 auto-adjust width of buttons depending on number of buttons available 
		 https://developer.mozilla.org/en-US/docs/Web/CSS/General_sibling_selectors
		*/
	 float: left;
	 margin: 10px;
	}
}
article {
	width: 100%;
	overflow: hidden;
	padding: 30px;
}
article .preview {
	width: 100%;
	overflow: auto;
	text-decoration: none;
	font-size: 0.7em;
	margin: 10px 0;
	color: rgba(255, 155, 6, 1);
	display: block;
}
article .preview img{
	width: 20%;
	float: left;
  margin-right: 10px;
}
article .preview div{
	width: calc(80% - 10px);
	float: left;
}
article .preview span{
	display: block;
	float: left;
	width: 100%;
}
article .preview .preview-title{
	font-size: 1.5em;
	color: rgba(255, 155, 6, 1);
}
@media only screen and (min-width: 450px){
	article .preview{
		font-size: 0.8em;
	}
	article .preview-title{
		font-size: 1,7em;
	}
}
@media only screen and (min-width: 530px){
	article .preview{
		font-size: 1em;
	}
	article .preview-title{
		font-size: 2em;
	}
}
@media only screen and (min-width: 670px){
	article .preview{
		font-size: 1em;
		
	}
	article .preview-title{
		font-size: 4em;
	}
}

/*Footer*/
footer{
	width: 100%;
	background-color: rgb(28,28,28);
	color: rgb(250,250,250);
	
}
footer #footer_menu {
	margin-left: auto;
  margin-right: auto;
	max-width: 1200px;
	width: 100%;
	overflow: hidden;
	padding: 60px 80px 90px 60px;
	
}
footer .footer-link-collection{
	float: left;
	padding: 20px;
	margin: 0 auto;
	display: inline-block;
	width: 25%;
}
footer ul{
	list-style: none;
	padding-top: 20px;
}
footer ul li{
	padding: 7px 0;
}
footer ul li a {
	text-decoration: none;
	font-size: 0.9em;
}
footer a{
	color: white;
}
footer span{
	color: white;
	font-size: 1.2em;
}
@media only screen and (max-width: 880px){
	footer #footer_menu {
	  padding: 40px 28px;
		
  }
	footer ul li{
		padding: 4px 0;
	}
	footer ul{
		padding-top: 15px;
	}
}
@media only screen and (max-width: 780px){
	footer .footer-link-collection{
	 width: 50%;
  }
	footer #footer_menu {
	 padding: 60px 50px 90px 15%;
  }
	footer .footer-link-collection{
	padding-top: 35px;
  }
}
@media only screen and (max-width: 500px){
	footer .footer-link-collection{
	 width: 100%;
  }
	footer #footer_menu {
	 padding: 60px 20px 90px 30%;
  }
}
.img-fullwidth{
	width: 100%;
}
article a {
	color: rgba(237, 144, 6, 1);
	text-decoration: none;
}
article a:hover {
	text-decoration: underline;
}
article h1{
	font-size: 2em;
	color: rgba(255, 155, 6, 1);
	padding-bottom: 20px;
}
article h2{
	font-size: 1.8em;
	color: rgba(255, 155, 6, 1);
}
article h3{
	font-size: 1.6em;
	color: rgba(255, 155, 6, 1);
}
article h3 a{
  text-decoration: none;
	color: inherit;
}
article h3 a:hover{
  text-decoration: underline;
	color: inherit;
}
article h4{
	font-size: 1.4em;
	color: rgba(255, 155, 6, 1);
}
article h5{
	font-size: 1.2em;
	color: rgba(255, 155, 6, 1);
}
article h6{
	font-size: 1em;
	color: rgba(255, 155, 6, 1);
}
article p{
	font-size: 1em;
	letter-spacing: 0.7px;
}
article ul, article ol{
	padding: 14px 2em;
	/*list-style: rgba(255, 155, 6, 1);colored points https://stackoverflow.com/questions/5306640/how-to-set-bullet-colors-in-ul-li-html-lists-via-css-without-using-any-images-or*/
	list-style: none;
	counter-reset: li
}
article ul li::before {
	content: "\25CF";
	color: rgba(255, 155, 6, 1);
	display: inline-block;
	width: 30px;
	font-size: 2em;
	line-height: 0px;
	margin-left: -1em
}
article ol li::before {
	content: counter(li);
	color: rgba(255, 155, 6, 1);
	display: inline-block;
	width: 1em;
	margin-left: -1.5em;
	margin-right: 0.5em;
	text-align: right;
	direction: rtl;
	font-size: 1.35em
}

article ul li, article ol li{
	counter-increment: li;
}
article aside .wide-ul li {
	margin-top: 10px;
}


article aside {
	float: right; 
	width: 40%; 
	max-width: 300px; 
	display: block;
	border: 1px solid rgba(48,48,45,1);
	padding: 10px 10px 10px 10px;
	margin: 5px 20px 20px 15px;
}

@media only screen and (max-width: 700px){
	article aside {
		
		width: 100%;
	}
}
@media only screen and (max-width: 550px){
	article aside {
		max-width: 100%;
		width: 90%;
	}
}

table, th, td {
  border: 1px rgb(48, 48, 45) solid;
  border-collapse: collapse;
}
td, th {
  padding: 10px;
}
td {
  text-align: center;
}
th {
  font-weight: bold;
}

/* HoneyMat Style Infos */

        #orderForm > input#submitBtn  {
            background-color: rgba(255, 155, 6, .5);
            width: 100%;
            border: 1px solid rgba(255, 155, 6, 1);
            font-size: 1.1em;
            color: rgba(48,48,45,1);
            border-radius: 2px;
        }
        #orderForm > .quantity-control {
            width: 40%;
            float: right;

        }
        #orderForm > input {
            float: left;
            color: red;
        }

        #orderForm .inDecBtn {
            color: rgba(48,48,45,1);
            background-color: rgba(255, 155, 6, .5);
            border: 1px solid rgba(255, 155, 6, .6);
            width: 1.5em;
            height: 1.5em;
            padding-bottom: 5px;
            border-radius: .75em;
            font-size: 20px;
            float: left;
        }
        #orderForm > input#submitBtn:disabled  {
            background-color: rgba(48,48,45,0.3);
            border-color: rgba(48,48,45,.5);
        }
        #orderForm > input:focus  {
            border: 1px solid rgba(255, 155, 6, .6);
            border-radius: 3px;
            outline-offset: 1px;
            outline: 1.5px solid rgba(255, 155, 6, .3);
        }
        #orderForm > input#submitBtn:active  {
            background-color: rgba(255, 155, 6, .8);
        }
        #orderForm > input#submitBtn:active  {
            background-color: rgba(255, 155, 6, .8);
            outline: 2px solid rgba(255, 155, 6, 1);
            outline-offset: 2px;
        }

        #orderForm > label {
            display: block;
            width: 60%;
            float: left;
            color: rgba(48,48,45,1);;
        }
        #orderForm > label.productLabel {
            margin-bottom: 1.7em;
        }
        #orderForm > label > span {
            width: 100%;
            display: block;
        }


        #orderForm > label > span.product {
            color: rgba(255, 155, 6, .8);
            font-size: 1.6em;
        }
         #orderForm > label > span.size {

        }
         #orderForm > label > span.amount {

        }
         #orderForm > label > span.price {

        }


        #orderForm > label#submitBtnEmptyOrder{
             width: 100%;
             color: rgba(255, 155, 6, 8);
             margin-bottom: 10px;
        }
        .input-pcs {
            width: 30%;
            float: left;
            active: false;
            margin-left: 10px;
            margin-right: 10px;
            border: none;
            text-align: center;
            font-size: 1.5em;
        }
        form > img {
            max-width: 10cm;

        }
        /* Hide up/down spin-buttons in input fields */
        /* Chrome, Safari, Edge, Opera */
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
           margin: 0;
        }
        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }